body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: black;
    line-height: 1.6;
    background-color: black;
}

.conteiner{
    margin: 0 auto;
    width: 960px;
    padding: 0;
    background-color: #fff;
}

.card{
    float: left;
    padding: 10px;
    background-color: #ccc;
    margin-bottom: 10px;
}